<template>
<div>
    <ul v-if="patients.length" class="tile-list p-0 pr-sm-5">
        <li class="tile-list-item tile-list-item-outline-dark my-3" v-for="patient in patients" :key="patient.id">
            <patient-list-item :id="patient.id" :name="patient.fullName" :relationship="patient.relationshipName" @edit="edit" @destroy="confirmDestroy"/>
        </li>
    </ul>
    <div v-else class="text-center my-3">
        <p>Todavía no existen usuarios</p>
    </div>

    <b-modal id="confirm-delete" title="Confirmar eliminación" @ok="destroy" cancel-title="Cancelar" ok-title="Aceptar">
        <p>¿Esta seguro que desea eliminar este paciente?</p>
    </b-modal>
</div>
</template>

<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import PatientListItem from './PatientListItem'
import Patient from '../../../models/Patient'

export default {
    components: {
        PatientListItem
    },
    computed: {
        searchBy() {
            return this.$route.query.searchBy !== ''
                ? this.$route.query.searchBy
                : undefined
        }
    },
    data() {
        return {
            patient: {},
            nameState: '',
            patients: [],
        }
    },
    methods: {
        getPatients() {
            Patient.all({ filterBy: this.searchBy })
            .then( response => {
                this.patients = response.data.data
            })
            .catch( errors => {
                console.error(errors.data);
                this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
            })
        },
        edit(patient) {
            this.$router.push({ name: 'patients.edit', params: { patient: patient.id } })
        },
        confirmDestroy(patient) {
            this.patient = patient
            this.$bvModal.show('confirm-delete')
        },
        destroy() {
            Patient.make(this.patient).destroy()
            .then(() => {
                this.getPatients()
                this.showDownAlert('Se ha eliminado el paciente')
            })
            .catch(errors => {
                console.error(errors.data);
                this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
            this.getPatients()
        },
        ...mapActions([
            'showSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setSearchPlaceholder',
            'setAlertMessage',
            'setSearchKeyword'
        ])
    },
    created() {
        this.setTitle('Pacientes')
        this.setSearchPlaceholder('Buscar paciente')
        this.showSearchBar()
        this.getPatients()

        this.$root.$on('fetch-patients', () => this.getPatients())
    },
    watch: {
        searchBy() {
            this.getPatients()
        }
    }
}
</script>

<style lang="css" scoped>
</style>
