<template>
    <div>
        <div class="d-block d-sm-flex">
            <h3>Recetas</h3>
            <div class="btn-group ml-auto">
                <b-button v-if="user.hasRole('doctor') && !readonly" variant="primary" v-b-modal.prescriptions-create class="ml-auto">Agregar medicamento</b-button>
                <button v-if="prescriptions.length" class="btn btn-primary" @click="downloadPrescription">Descargar Receta</button>
            </div>
        </div>  
        <prescription-list :prescriptions="prescriptions" :readonly="readonly" @update="showEditModal" @delete="showConfirmDelete"/>
        
        <prescription-form id="prescriptions-create" title="Nuevo medicamento" @submit="savePrescription" />        
        
        <prescription-form id="prescriptions-edit" title="Editar medicamento" :value="form" @hidden="resetForm" @submit="updatePrescription" />        
        
        <b-modal id="confirm-prescription-delete" title="Confirmar eliminación" @ok="destroyPrescription" @hidden="resetForm" cancel-title="Cancelar" ok-title="Aceptar">
            <p>¿Estas seguro de eliminar esta receta?</p>
        </b-modal>
    </div>
</template>

<script>
import Prescription from '../../../../models/Prescription'
import PrescriptionList from './PrescriptionList'
import { mapActions, mapMutations, mapState } from 'vuex'
import PrescriptionForm from './partials/PrescriptionForm.vue'
import Appointment from '../../../../models/Appointment'
const fileDownload = require('js-file-download')

export default {
    components: {
        PrescriptionList,
        PrescriptionForm
    },
    props: {
        prescriptions: Array,
        readonly: {
            type: Boolean,
            default: false
        },
    },
    computed: mapState([
        'user'
    ]),
    data() {
        return {
            form: {
                id: 0,
                drug: '',
                medication: ''
            }
        }
    },
    methods: {
        savePrescription(data) {
            Prescription.make(data)
            .save({ appointment: this.$route.params.appointment })
            .then( response => {
                this.showDownAlert('Receta agregada correctamente')
                this.$emit('updated')
            })
            .catch( errors => {
                this.showDownAlert('No se pudo agregar la receta', 'danger')
            })
        },
        updatePrescription(data) {
            Prescription.make({ id: this.form.id, ...data })
            .update()
            .then( response => {
                this.showDownAlert('Receta actualizada correctamente')
                this.$emit('updated')
            })
            .catch( errors => {
                this.showDownAlert('No se pudo editar la receta', 'danger')
            })
        },
        destroyPrescription() {
            Prescription.make({ id: this.form.id })
            .destroy()
            .then( response => {
                this.showDownAlert('Receta eliminada correctamente')
                this.$emit('updated')
            })
            .catch( errors  => {
                this.showDownAlert('No se pude eliminar la receta', 'danger')
            })
        },
        showEditModal(data) {
            this.fillPrescription(data)
            this.$bvModal.show('prescriptions-edit')
        },
        showConfirmDelete(data) {
            this.fillPrescription(data)
            this.$bvModal.show('confirm-prescription-delete')
        },
        downloadPrescription() {
            Appointment.make({ id: this.$route.params.appointment })
            .downloadPrescription()
            .then( response => {
                fileDownload(response.data, 'prescripción.pdf')
            })
            .catch( errors => {
                this.showDownAlert('No se pudo descargar la receta', 'danger')
            })
        },
        fillPrescription(prescription) {
            this.form.id = prescription.id
            this.form.drug = prescription.drug
            this.form.medication = prescription.medication
        },
        resetForm() {
            this.form.id = 0
            this.form.drug = ''
            this.form.medication = ''
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapMutations([
            'setAlertMessage'
        ]),
        ...mapActions([
            'showDangerAlert',
            'showSuccesAlert'
        ])
    }
}
</script>

<style>

</style>
