<template>
    <div class="form-inline w-100">
        <input class="form-control w-100 my-2 my-sm-0 mx-sm-5" type="text" name="search" :placeholder="searchPlaceholder" v-model="keyword" @keydown="debounce">
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
    computed: mapState([
        'searchPlaceholder',
        'searchKeyword'
    ]),
    data() {
        return {
            keyword: '',
            debounce: null
        }
    },
    methods: {
        debounceKeyword() {
            const debounce = _.debounce(() => {
                this.setSearchKeyword(this.keyword)
                let nextPath = this.$router.resolve({ name: this.$route.name, query: { searchBy: this.keyword } }).resolved
                if (nextPath.fullPath !== this.$route.fullPath) this.$router.push({ name: this.$route.name, query: { ...this.$route.query, searchBy: this.keyword } })
            }, 500)
            this.debounce = debounce
        },
        ...mapMutations([
            'setSearchKeyword'
        ])
    },
    created() {
        this.setSearchKeyword(this.$route.query.searchBy)
        this.keyword = this.searchKeyword
        this.debounceKeyword()
    }
}
</script>

<style lang="css" scoped>
</style>
