<template>
    <div>
        <b-modal
            :id="id"
            ok-title="Guardar"
            cancel-title="Cancelar"
            :title="title"
            @ok="handleOk"
            @hidden="clearForm"
            ref="prescriptions"
        >
            <form @submit.stop.prevent="submit" ref="form">
                <div class="form-group">
                    <label for="drug">Medicamento</label>
                    <input id="drug" name="drug" class="form-control" type="text" v-model="form.drug" placeholder="Nombre del medicamento" required @keydown="emitForm"/>
                </div>
                <div class="form-group">
                    <label for="medication">Tratamiento</label>
                    <textarea class="form-control" name="medication" id="medication" v-model="form.medication" placeholder="Tratamiento que el paciente debe seguir para el medicamento" required @keydown="emitForm"></textarea>
                </div>
            </form>
        </b-modal>
    </div>    
</template>

<script>
export default {
    props: { 
        id: String,
        title: String,
        value: {
            type: Object,
            default: () => {
                return {
                    drug: '',
                    medication: ''
                }
            }
        }
    },
    data() {
        return {
            form: {
                drug: '',
                medication: ''
            }
        }
    },
    methods: {
        emitForm() {
            this.$emit('input', this.form)
        },
        handleOk(event) {
            event.preventDefault()
            const valid = this.$refs.form.checkValidity()
            if(valid) {
               this.submit() 
            }
        },
        clearForm() {
            this.form.drug = ''
            this.form.medication = ''
            this.$emit('hidden', this.form)
        },
        submit() {
            this.$emit('submit', this.form)

            this.$nextTick(() => {
                this.$bvModal.hide(this.id)
            })
        }        
    },
    watch: {
        value: {
            handler(val) {
                this.form.drug = val.drug,
                this.form.medication = val.medication
            },
            deep: true
        }
    }
}
</script>

<style>

</style>
