<template>
    <div>
        <ul class="tile-list p-0">
            <li v-for="exam of exams" :key="exam.id" class="tile-list-item tile-list-item-outline-dark my-3">
                <exam-list-item :exam="exam" @update="$emit('update', $event)" @delete="$emit('delete', $event)" @files="showFiles" :readonly="readonly"/>
            </li>
        </ul>
        <upload-files id="uploaded-files" :files="files" :show-only="true"/>
    </div>
</template>

<script>
import ExamListItem from './ExamListItem.vue'
import UploadFiles from '../../../exams/index/UploadFiles.vue'

export default {
    components: { ExamListItem, UploadFiles },
    props: {
        exams: Array,
        readonly: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            files: []
        }
    },
    methods: {
        showFiles(files) {
            this.files = files
            this.$bvModal.show('uploaded-files')
        }
    }
}
</script>

<style>

</style>
