<template>
    <div class="content">
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label for="patient">Paciente</label>
                    <select id="patient" name="patient" :class="['form-control', { 'is-invalid': errors.patient }]" v-model="form.patient" @change="emitForm" @focus="errors.patient = null" required :disabled="user.hasRole('doctor')" >
                        <option default value="">Seleccione</option>
                        <option v-for="patient of patients" :key="patient.id" :value="patient.id">{{ patient.fullName }}</option>
                    </select>
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="error of errors.patient" :key="error">{{ error }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label for="speciality">Especialidad</label>
                    <select id="speciality" name="speciality" :class="['form-control', { 'is-invalid': errors.speciality }]" v-model="form.speciality" @change="emitForm" @focus="errors.speciality = null" required :disabled="user.hasRole('doctor')">
                        <option default value="">Seleccione</option>
                        <option v-for="speciality of specialities" :key="speciality.id" :value="speciality.id">{{ speciality.name }}</option>
                    </select>
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="error of errors.speciality" :key="error">{{ error }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="form-group">
                    <label for="doctor">Doctor</label>
                    <select id="doctor" name="doctor" :class="['form-control', { 'is-invalid': errors.doctor }]" v-model="form.doctor" @change="emitForm" @focus="errors.doctor = null" required :disabled="user.hasRole('doctor')">
                        <option default value="">Seleccione</option>
                        <option v-for="doctor of doctors" :key="doctor.id" :value="doctor.id">{{ doctor.fullName }}</option>
                    </select>
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="error of errors.doctor" :key="error">{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="mb-1 font-weight-bold">Seleccione uno de los recuadros en blanco para agendar su cita, los recuadros en gris no están disponibles</p>
                <appointment-selector
                    v-model="form.date"
                    schedule-label="No se ha seleccionado ningún horario"
                    relation-label="Hora / Día"
                    :appointments-taken="appointments"
                    :intervals="intervals"
                />
            </div>
        </div>
    </div> 
</template>

<script>
import Patient from '../../../models/Patient'
import Speciality from '../../../models/Speciality'
import VueAppointmentSelector from 'vue-appointment-selector'
import User from '../../../models/User'
import Appointment from '../../../models/Appointment'
import { mapState } from 'vuex'

export default {
    components: { 'appointment-selector': VueAppointmentSelector },
    props: {
        value: undefined,
        passwordIsRequired: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        passwordsAreSame() {
            if (!this.form.password.length && !this.form.passwordConfirmation.length) return true
            else return this.form.password === this.form.passwordConfirmation
        },
        selectedSpeciality() {
            return this.form.speciality
        },
        selectedDoctor() {
            return this.form.doctor
        },
        ...mapState([
            'user'
        ]),
    },
    data() {
        return {
            form: {
                patient:        '',
                speciality:     '',
                doctor:         '',
                date:           {}
            },
            patients:           [],
            specialities:       [],
            doctors:            [],
            appointments:       [],
            errors:             {},
            intervals: [
                {
                    from: {
                        hour: 9,
                        minute: 0,
                    },
                    to: {
                        hour: 12,
                        minute: 0
                    }
                },
                {
                    from: {
                        hour: 16,
                        minute: 0,
                    },
                    to: {
                        hour: 18,
                        minute: 0
                    }
                },
            ]
        }
    },
    methods: {
        getPatients() {
            Patient.all()
            .then( response => {
                this.patients = response.data.data
            })
        },
        getSpecialities() {
            Speciality.all()
            .then( response => {
                this.specialities = response.data.data
            })
        },
        getDoctors() {
            User.all({ speciality: this.selectedSpeciality })
            .then( response => {
                this.doctors = response.data.data
                if(!this.doctors.find(doctor => doctor.id === this.form.doctor)) this.form.doctor = ''
            })
        },
        getAppointments() {
            Appointment.all({ doctor: this.selectedDoctor })
            .then( response => {
                this.appointments = response.data.data.map(appointment => {
                    return {
                        start: appointment.startTime,
                        end: appointment.endTime,
                    }
                })
            })
        },
        emitForm() {
            this.$emit('input', { fields: this.form, errors: this.errors })
        },
        fillForm(form) {
            if(!form) return 
            this.form.patient       = form.patient ?? ''
            this.form.speciality    = form.speciality ?? ''
            this.form.doctor        = form.doctor ?? ''
            
            if(form.startTime && form.endTime) this.form.date = { start: form.startTime, end: form.endTime }
        }
    },
    watch: {
        value: {
            handler(form) {
                this.fillForm(form.fields)
                this.errors = form.errors
            },
            deep: true
        },
        selectedSpeciality() {
            this.getDoctors()
        },
        selectedDoctor() {
            this.getAppointments()
        },
        'form.date': {
            handler(value) {
                this.emitForm()
            }
        }
    },
    created() {
        this.getPatients()
        this.getSpecialities()
        this.fillForm(this.value.fields)
    }
}
</script>

<style>

</style>
