<template>
    <div class="btn-group-auth">
        <router-link :to="{ name: 'login' }" class="btn-auth-link" active-class="btn-auth-active">
            <span>
                Iniciar Sesión
            </span>
            <font-awesome-icon icon="door-open" active-class="btn-auth-active"/>
        </router-link>
        <router-link :to="{ name: 'register' }" class="btn-auth-link" active-class="btn-auth-active">
            <span>
                Registrarse
            </span>
            <font-awesome-icon icon="address-card" />
        </router-link>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>
