<template>
<div>
    <ul v-if="users.length" class="tile-list p-0 pr-sm-5">
        <li class="tile-list-item tile-list-item-outline-dark my-3" v-for="user in users" :key="user.id">
            <user-list-item :id="user.id" :name="user.fullName" :specialities="user.relationshipNames" @edit="edit" @destroy="confirmDestroy"/>
        </li>
    </ul>
    <div v-else class="text-center my-3">
        <p>Todavía no existen usuarios</p>
    </div>

    <b-modal id="confirm-delete" title="Confirmar eliminación" @ok="destroy" cancel-title="Cancelar" ok-title="Aceptar">
        <p>¿Esta seguro que desea eliminar este usuario?</p>
    </b-modal>
</div>
</template>

<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import UserListItem from './UserListItem'
import User from '../../../models/User'

export default {
    components: {
        UserListItem
    },
    computed: {
        searchBy() {
            return this.$route.query.searchBy !== ''
                ? this.$route.query.searchBy
                : undefined
        }
    },
    data() {
        return {
            user: {},
            nameState: '',
            users: [],
        }
    },
    methods: {
        getUsers() {
            User.all({ filterBy: this.searchBy })
            .then( response => {
                this.users = response.data.data
            })
            .catch( errors => {
                console.error(errors.data);
                this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
            })
        },
        edit(user) {
            this.$router.push({ name: 'users.edit', params: { user: user.id } })
        },
        confirmDestroy(user) {
            this.user = user
            this.$bvModal.show('confirm-delete')
        },
        destroy() {
            User.make(this.user).destroy()
            .then(() => {
                this.getUsers()
                this.showDownAlert('Se ha eliminado el usuario')
            })
            .catch(errors => {
                console.error(errors.data);
                this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
            this.getUsers()
        },
        ...mapActions([
            'showSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setSearchPlaceholder',
            'setAlertMessage',
            'setSearchKeyword'
        ])
    },
    created() {
        this.setTitle('Personal')
        this.setSearchPlaceholder('Buscar personal')
        this.showSearchBar()
        this.getUsers()

        this.$root.$on('fetch-users', () => this.getUsers())
    },
    watch: {
        searchBy() {
            this.getUsers()
        }
    }
}
</script>

<style lang="css" scoped>
</style>
