<template>
<div class="container-fluid">
        <div class="row">
            <div class="col-12 list-content overflow-auto">
                <ul class="tile-list mx-sm-auto col-12 col-sm-10">
                    <li class="tile-list-item tile-list-item-outline-dark my-3" v-for="appointment in appointments" :key="appointment.id">
                        <history-list-item :appointment="appointment"/>
                    </li>
                </ul>                 
            </div>
        </div>
    </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
import HistoryListItem from './HistoryListItem.vue'
import Appointment from '../../../models/Appointment'

export default {
    components: { HistoryListItem },
    computed: {
        searchBy() {
            return this.$route.query.searchBy
        }
    },
    data() {
        return {
            appointments: []
        }
    },
    methods: {
        getAppointments() {
            Appointment.all({ filterBy: this.searchBy })
            .then( response => {
                this.appointments = response.data.data
            })
            .catch( errors => {
                console.error(errors.data);
                this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
            })
        },
        ...mapMutations([
            'setTitle',
            'setSearchPlaceholder'
        ]),
        ...mapActions([
            'showSearchBar',
        ])
    },
    created() {
        this.showSearchBar()
        this.setTitle('Historial')
        this.setSearchPlaceholder('Buscar historial médico por paciente')
        this.getAppointments()
    },
    watch: {
        searchBy() {
            this.getAppointments()
        }
    }
}
</script>

<style>

</style>
