<template>
    <div class="d-block d-sm-flex">
        <div class="detail">
            <router-link :to="{ name: 'appointments.show', params: { appointment: appointment.id } }">
                <h4 class="font-weight-normal m-0 d-block">{{ appointment.patient.fullName }}</h4>
                <span class="d-block">{{ appointment.doctor.fullName }}</span>
            </router-link>
        </div>
        <div id="vr"></div>
        <div>
            <p class="mb-0">{{ appointment.description }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'appointment'
    ]
}
</script>

<style scoped>
    #vr {
        border-left: 1px solid #000;
        margin: 0 1rem;
    } 
</style>
