<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 list-content overflow-auto">
                <ul class="tile-list col-12 mx-sm-auto col-sm-10">
                    <li class="tile-list-item tile-list-item-outline-dark my-3" v-for="presciption in prescriptions" :key="presciption.id">
                        <prescription-list-item :prescription="presciption" />
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import Presctiption from '../../../models/Prescription'
import PrescriptionListItem from './PrescriptionListItem'

export default {
    components: { PrescriptionListItem },
    computed: {
        searchBy() {
            return this.$route.query.searchBy !== ''
                ? this.$route.query.searchBy
                : undefined
        }
    },
    data() {
        return {
            prescriptions: [],
        }
    },
    methods: {
        getPrescriptions(){
            Presctiption.all({ filter_by: this.searchBy })
            .then( response => {
                this.prescriptions = response.data.data
            })
            .catch( errors => {
                console.error(errors)
                this.showDownAlert('No se pudo obtener las recetas', 'danger')
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapActions([
            'showSearchBar',
            'showDangerAlert',
            'showSuccesAlert',
        ]),
        ...mapMutations([
            'setTitle',
            'setSearchPlaceholder',
            'setAlertMessage'
        ])
    },
    created() {
        this.showSearchBar()
        this.setTitle('Recetas')
        this.setSearchPlaceholder('Buscar por medicamento')
        this.getPrescriptions()
    },
    watch: {
        searchBy() {
            this.getPrescriptions()
        },
    }
}
</script>

<style>

</style>
