.calendar {
    .calendar-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 2em);

        span {
            text-align: center;
        }

        .light-button {
            color: #a6a6a6;
        }

        .selected-button {
            background-color: $primary;
            color: white;
        }

        button {
            padding: 0;
            margin: 0;
            border: none;
            border-radius: .3em;
            
            &:hover{
                background-color: $primary;
                color: white;
            }
        }
    }

    .calendar-navigation {
        display: flex;
        padding: .5em 0;

        .calendar-navigation-buttons {
            margin-left: auto;    
        }

        button {
            border: none;
        }
    }
}
