.tiles-container {
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .tile {
        margin: 1rem;
        text-align: center;
        position: relative;
        width: 10rem;
        height: 10rem;
        transition: .3s ease;

        &:hover {
            width: 15rem;
            z-index: 2;
            .tile-title {
                width: 15rem;
                box-shadow: 0 0 10px -2px #333;
                transform: translateY(-5rem);
                background-color: $primary;
            }
            .tile-body {
                width: 15rem;
                box-shadow: 0 0 10px -2px #333;
                transform: translateY(5rem);
                background-color: white;
            }
        }

        .tile-title {
            width: 10rem;
            height: 10rem;
            background-color: $secondary;
            color: $white;
            display: flex;
            align-items: center;
            z-index: 1;
            position: absolute;
            transition: .3s ease;

            div {
                height: min-content;
                margin: 0 auto;
                .tile-icon {
                    font-size: 6rem;
                    display: block;
                    margin: 0 auto;
                }
            }

        }
        .tile-body {
            width: 10rem;
            height: 10rem;
            position: absolute;
            transition: .3s ease;
            display: flex;
            align-items: center;

            p {
                margin: 0;
                font-size: 1.1rem;
                padding: .7rem;
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 576px){
    .tiles-container{
        padding: 5rem;
    }
}
