<template>
    <div>
        <transition name="fade">
            <router-view></router-view>
        </transition>
        <down-alert dismiss-secs="5"/>
    </div>
</template>

<script>
import DownAlert from './partials/DownAlert'
export default {
    components: {
        DownAlert
    }
}
</script>

<style lang="css">
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
