<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 list-content overflow-auto">
                <ul class="tile-list mx-auto col-12 col-sm-10">
                    <li class="tile-list-item tile-list-item-outline-dark my-3" v-for="exam in exams" :key="exam.id">
                        <exam-list-item :exam="exam" @upload="showUploadedFiles" @process="showConfirmExam"/>
                    </li>
                </ul>                 
            </div>
        </div>
        <upload-files id="upload-files-modal" :files="exam.files" @upload="uploadFile" @destroy="destroyFile" />
        <b-modal id="confirm-process" title="Confirmar procesamiento" @ok="confirmProcces" cancel-title="Cancelar" ok-title="Aceptar">
            <p>¿Estas seguro de confirmar este examen?</p>
        </b-modal>
    </div> 
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import Exam from '../../../models/Exam'
import ExamListItem from './ExamListItem.vue'
import UploadFiles from './UploadFiles.vue'

export default {
    components: { ExamListItem, UploadFiles },
    computed: {
        searchBy() {
            return this.$route.query.searchBy !== ''
                ? this.$route.query.searchBy
                : undefined
        }
    },
    data() {
        return {
            exams: [],
            exam: {
                id: 0,
                files: []
            }
        }
    },
    methods: {
        getExams(){
            Exam.all({ filterBy: this.searchBy })
            .then( response => {
                this.exams = response.data.data
            })
            .catch( errors => {
                console.error(errors)
                this.showDownAlert('No se pudo obtener los exámens', 'danger')
            })
        },
        showUploadedFiles(exam) {
            this.fillExam(exam)
            this.$bvModal.show('upload-files-modal')
        },
        showConfirmExam(exam) {
            this.fillExam(exam)
            this.$bvModal.show('confirm-process')
        },
        uploadFile(file) {
            Exam.make({ id: this.exam.id })
            .uploadFile(file)
            .then( () => {
                this.getExams()
                this.showDownAlert('Archivo subido correctamente')
            })
            .catch(() => {
                this.showDownAlert('No se pudo subir el archivo', 'danger')
            })
        },
        destroyFile(file) {
            Exam.make({ id: this.exam.id })
            .deleteFile(file)
            .then( () => {
                this.getExams()
                this.showDownAlert('Archivo eliminado correctamente')
            })
            .catch(() => {
                this.showDownAlert('No se pudo eliminar el archivo', 'danger')
            })
        },
        updateExam() {
            let file = this.exams.find( exam => exam.id === this.exam.id)
            if(file) this.exam.files = file.files
        },
        confirmProcces() {
            Exam.make({ id: this.exam.id })
            .process()
            .then( () => {
                this.getExams()
                this.showDownAlert('Examen procesado correctamente')
            })
            .catch(() => {
                this.showDownAlert('No se pudo procesar el examen', 'danger')
            })
        },
        fillExam(exam) {
            this.exam.id = exam.id
            this.exam.files = exam.files
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapActions([
            'showSearchBar',
            'showDangerAlert',
            'showSuccesAlert',
        ]),
        ...mapMutations([
            'setTitle',
            'setSearchPlaceholder',
            'setAlertMessage'
        ])
    },
    created() {
        this.showSearchBar()
        this.setTitle('Exámenes')
        this.setSearchPlaceholder('Buscar exámen')
        this.getExams()
    },
    watch: {
        searchBy() {
            this.getExams()
        },
        exams: {
            handler() {
                this.updateExam()
            },
            deep: true
        }
    }
}
</script>

<style>

</style>
