<template>
    <div class="d-block d-sm-flex">
        <div class="description d-block">
            <h4 class="font-weight-normal m-0 d-block">{{ exam.name }}</h4>
            <span class="d-block"><strong>Doctor:</strong> {{ exam.appointment.doctor.fullName }}</span>
            <span class="d-block"><strong>Paciente:</strong> {{ exam.appointment.patient.fullName }}</span>
            <hr>
            <p class="pb-0">{{ exam.description }}</p>
        </div>
        <div class="btn-group ml-sm-auto">
            <button type="button" class="btn btn-link" style="min-width: max-content;" @click="$emit('upload', exam)">
                Subir archivos
                <font-awesome-icon icon="file-upload" />
            </button>
            <button type="button" class="btn btn-link text-success" style="min-width: max-content;" @click="$emit('process', exam)">
                Procesar
                <font-awesome-icon icon="clipboard-check" />
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'exam'
    ]
}
</script>

<style>

</style>
