<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 list-content overflow-auto">
                <ul class="tile-list col-12 mx-sm-auto col-sm-10">
                    <li class="tile-list-item tile-list-item-outline-dark my-3" v-for="exam in exams" :key="exam.id">
                        <exam-list-item :exam="exam" @files="showUploadedFiles"/>
                    </li>
                </ul>                 
            </div>
        </div>
        <upload-files id="uploaded-files-modal" :files="files" :show-only="true" />
    </div> 
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import Exam from '../../../models/Exam'
import ExamListItem from './ExamListItem.vue'
import UploadFiles from '../../exams/index/UploadFiles.vue'

export default {
    components: { ExamListItem, UploadFiles },
    computed: {
        searchBy() {
            return this.$route.query.searchBy !== ''
                ? this.$route.query.searchBy
                : undefined
        }
    },
    data() {
        return {
            exams: [],
            files: []
        }
    },
    methods: {
        getExams(){
            Exam.make().getReport({ filter_by: this.searchBy })
            .then( response => {
                this.exams = Exam.collection(response.data.data)
            })
            .catch( errors => {
                console.error(errors)
                this.showDownAlert('No se pudo obtener los exámens', 'danger')
            })
        },
        showUploadedFiles(files) {
            this.files = files
            this.$bvModal.show('uploaded-files-modal')
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapActions([
            'showSearchBar',
            'showDangerAlert',
            'showSuccesAlert',
        ]),
        ...mapMutations([
            'setTitle',
            'setSearchPlaceholder',
            'setAlertMessage'
        ])
    },
    created() {
        this.showSearchBar()
        this.setTitle('Exámenes')
        this.setSearchPlaceholder('Buscar por exámen, paciente o doctor')
        this.getExams()
    },
    watch: {
        searchBy() {
            this.getExams()
        },
    }
}
</script>

<style>

</style>
