<template>
<div>
    <h3>Especialidades</h3>
    <ul class="list-unstyled overflow-auto specialities-list">
        <li v-for="(speciality, index) of specialities" :key="index">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" :id="speciality.id" :value="speciality.id" v-model="selectedSpecialities" @change="$emit('input', selectedSpecialities)" :disabled="disabled">
                <label class="form-check-label" :for="speciality.id">{{ speciality.name }}</label>
            </div>
        </li>
    </ul>
</div>
</template>

<script>
import Speciality from '../../../models/Speciality'

export default {
    props: [
        'value', 'disabled'
    ],
    data() {
        return {
            specialities: [],
            selectedSpecialities: []
        }
    },
    methods: {
        getSpecialities() {
            Speciality.all()
            .then( response => {
                this.specialities = response.data.data
            })
        }
    },
    created() {
        this.getSpecialities()
    },
    watch: {
        value(value) {
            this.selectedSpecialities = value
        }
    }
}
</script>

<style lang="css" scoped>
</style>
