<template>
<div>
    <div class="appointments-list">
        <ul v-if="appointments.length" class="tile-list p-0 px-sm-5">
            <li :class="`tile-list-item tile-list-item-${getColor(appointment) } my-3`" v-for="appointment in appointments" :key="appointment.id">
                <appointment-list-item :id="appointment.id" :patient="appointment.patient.fullName" :doctor="appointment.doctor.fullName" :start-time="appointment.startTime" :end-time="appointment.endTime" :is-cancelled="appointment.isCancelled" :is-closed="appointment.closedAt" @edit="edit" @destroy="confirmDestroy"/>
            </li>
        </ul>
        <div v-else class="text-center my-3">
            <p>No existen citas en este fecha</p>
        </div>
    </div>

    <b-modal id="confirm-delete" title="Confirmar eliminación" @ok="destroy" cancel-title="Cancelar" ok-title="Aceptar">
        <p>¿Esta seguro que desea cancelar esta cita?</p>
    </b-modal>
</div>
</template>

<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import AppointmentListItem from './AppointmentListItem'
import Appointment from '../../../models/Appointment'
import dayjs from 'dayjs'

export default {
    components: {
        AppointmentListItem
    },
    computed: {
        searchBy() {
            return this.$route.query.searchBy !== ''
                ? this.$route.query.searchBy
                : undefined
        },
        time() {
            return this.$route.query.time
        }
    },
    data() {
        return {
            appointment: {},
            nameState: '',
            appointments: [],
        }
    },
    methods: {
        getAppointments() {
            Appointment.all({ filterBy: this.searchBy, time: this.time })
            .then( response => {
                this.appointments = response.data.data
            })
            .catch( errors => {
                console.error(errors.data);
                this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
            })
        },
        edit(appointment) {
            this.$router.push({ name: 'appointments.edit', params: { appointment: appointment.id } })
        },
        confirmDestroy(appointment) {
            this.appointment = appointment
            this.$bvModal.show('confirm-delete')
        },
        destroy() {
            Appointment.make(this.appointment).destroy()
            .then(() => {
                this.getAppointments()
                this.showDownAlert('Se ha cancelado la cita')
            })
            .catch(errors => {
                console.error(errors.data);
                this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
            })
        },
        getColor(appointment) {
            let startTime = new Date(appointment.startTime)
            let currentTime = new Date()
            let color = 'primary'

            if(appointment.isCancelled && !appointment.closedAt) color =  'danger'
            else if(startTime.getTime() > currentTime.getTime() && !appointment.closedAt) color = 'primary'
            else color = 'secondary'
            
            return color
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
            this.getAppointments()
        },
        ...mapActions([
            'showSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setSearchPlaceholder',
            'setAlertMessage',
            'setSearchKeyword'
        ])
    },
    created() {
        this.setTitle('Agenda')
        this.setSearchPlaceholder('Buscar usuario')
        this.showSearchBar()
        this.getAppointments()

        if(!this.$route.query.time) {
            this.$router.push({ name: 'appointments.index', query: { time: dayjs().format('YYYY-MM-DD') } })
        }

        this.$root.$on('fetch-appointments', () => this.getAppointments())
    },
    watch: {
        searchBy() {
            this.getAppointments()
        },
        time() {
            this.getAppointments()
        }
    }
}
</script>

<style lang="css" scoped>
</style>
