<template>
    <div>
        <calendar-selector />
        <appointment-create-button v-if="user.doesntHaveRole('doctor')" />
    </div>
</template>

<script>
import { mapState } from 'vuex'
import CalendarSelector from '../partials/calendar/CalendarSelector'
import AppointmentCreateButton from './AppointmentCreateButton'

export default {
    components: {
        CalendarSelector, AppointmentCreateButton
    },
    computed: mapState([
        'user'
    ])
}
</script>

<style>

</style>
