<template>
    <div :class="['home', { info: isShowingInfo }]">
        <aside>
            <div class="login-form">
                <transition name="fade">
                    <router-view></router-view>
                </transition>
            </div>
            <login-navigation></login-navigation>
        </aside>
        <div class="bg-welcome" @mouseover="isShowingInfo = true" @mouseleave="isShowingInfo = false">
            <div class="banner text-white">
                <div>
                    <h1>Bienvenido</h1>
                    <p>Ubi quamquam sempiternum, velit quo excepteur. Et aute ita nulla, illum iudicem
                        sed probant id ut ipsum quem ab arbitror te sed expetendis ex constias. Minim
                        excepteur arbitror, quis consequat qui iudicem. Ex nescius iis ingeniis,
                        incurreret ipsum magna ut summis.</p>
                    <br>
                    <p>Non do anim veniam anim, illum philosophari proident labore commodo. Dolor
                        relinqueret expetendis velit excepteur ne cillum mentitum et doctrina te ipsum
                        quamquam instituendarum, ab export singulis nescius. Enim philosophari vidisse
                        export laborum, o sed summis aute aute o fore iis in aute doctrina, se labore
                        velit anim possumus.</p>
                </div>
            </div>
            <img src="../../../assets/images/recorte_enfermera.png" alt="recorte_enfermera">
        </div>
    </div>
</template>

<script>
import LoginNavigation from '../auth/LoginNavigation'

export default {
    components: { LoginNavigation },
    data() {
        return {
            isShowingInfo: false
        }
    }
}
</script>

<style lang="css" scoped>
</style>
