<template>
    <div class="container-fluid mt-sm-2">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="col-sm-10 mx-auto">
                    <router-view></router-view>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-8 list-content overflow-auto">
                <router-view name="list"></router-view>
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>
