<template>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 mx-sm-auto px-4 mt-2 mt-sm-4">
                <h3>{{ date }}</h3>
                <span>{{ schedule }}</span>
                <hr>
                <patient-info :patient="appointment.patient"/>
                <div v-if="user.hasRole('doctor') && appointment.closedAt === null && !appointment.isCancelled" class="d-flex align-items-center">
                    <router-link class="btn btn-link pl-0" :to="{ name: 'appointments.create', query: { speciality: appointment.speciality.id, doctor: appointment.doctor.id, patient: appointment.patient.id, previous: $route.params.appointment } }" >
                        Agendar próximo control
                    </router-link>
                    <span>/</span>
                    <button class="btn btn-link" @click="$bvModal.show('confirm-close')">Cerrar cita</button>
                </div>
                <hr>
                <description @updated="getAppointment" :description="appointment.description" :readonly="appointment.closedAt !== null"/>
                <hr>
                <prescriptions @updated="getAppointment" :prescriptions="appointment.prescriptions" :readonly="appointment.closedAt !== null"/>
                <hr>
                <exams @updated="getAppointment" :exams="appointment.exams" :readonly="appointment.closedAt !== null"/>
            </div>
        </div>
        <b-modal id="confirm-close" title="Confirmar cierre" @ok="close" cancel-title="Cancelar" ok-title="Aceptar">
            <p>¿Esta seguro que desea cerrar esta cita?</p>
        </b-modal>
    </div>
</template>

<script>
import Appointment from '../../../models/Appointment'
import dayjs from 'dayjs'
import Description from './Description'
import Prescriptions from './prescriptions/Prescriptions'
import Exams from './exams/Exams'
import { mapActions, mapMutations, mapState } from 'vuex'
import PatientInfo from './PatientInfo.vue'

export default {
    components: { Description, Prescriptions, Exams, PatientInfo, },
    computed: {
        date() {
            let date = this.appointment.startTime ? dayjs(this.appointment.startTime).format('dddd, DD MMMM YYYY') : ''
            return date.charAt(0).toUpperCase() + date.slice(1)
        },
        schedule() {
            return this.appointment.startTime ? `${this.appointment.startTime.split(' ')[1].substring(-3, 5)} - ${this.appointment.endTime.split(' ')[1].substring(-3, 5)}` : ''
        },
        description() {
            return this.appointment.description ? this.appointment.description : ''
        },
        ...mapState([
            'user'
        ])
    },
    data() {
        return {
            appointment: {
                speciality: {},
                doctor: {},
                patient: {},
                description: '',
                prescriptions: [],
                exams: [],
            }
        }
    },
    methods: {
        getAppointment() {
            Appointment.findById(this.$route.params.appointment)
            .then( response => {
                this.appointment = response.data.data
            })
            .catch( errors => {
                console.error(errors)
                this.showDownAlert('No se pudo obtener la información de esta cita', 'error')
            })
        },
        close() {
            Appointment.make({ id: this.$route.params.appointment }).close()
            .then( response => {
                this.showDownAlert('Cita cerrada correctamente')
                this.$router.go(-1)
            })
            .catch( errors  => {
                console.error(errors)
                this.showDownAlert('No se pudo cerrar la cita, intentalo mas tarde', 'danger')
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapActions([
            'hideSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setAlertMessage',
        ])
    },
    created() {
        this.getAppointment() 
        this.setTitle('Detalle')
        this.hideSearchBar()
    }
}
</script>

<style>

</style>
