<template>
    <div>
        <h5>Datos del paciente</h5>
        <div v-if="patient" class="row">
            <div class="col-12 col-sm-6">
                <span class="d-block"><strong>Paciente: </strong>{{ patient.fullName }}</span>
                <span class="d-block"><strong>Genero: </strong>{{ patient.gender === 'M' ? 'Masculino' : 'Femenino'  }}</span>
                <span class="d-block"><strong>Fecha de nacimiento: </strong>{{ patient.birthdate }}</span>
            </div>
            <div class="col-12 col-sm-6">
                <span class="d-block"><strong>Correo electrónico: </strong>{{ patient.email }}</span>
                <span class="d-block"><strong>Teléfono: </strong>{{ patient.phone }}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'patient'
    ]
}
</script>

<style>

</style>
