<template>
    <div class="calendar mt-2">
        <div class="calendar-navigation">
            <span>{{ label }}</span>
            <div class="calendar-navigation-buttons">
                <button @click="setPrevMonth">
                    <font-awesome-icon icon="chevron-left"/>
                </button>
                <button @click="setNextMonth">
                    <font-awesome-icon icon="chevron-right"/>
                </button> 
            </div>
        </div>
        <div class="calendar-days">
            <span>D</span>
            <span>L</span>
            <span>M</span>
            <span>M</span>
            <span>J</span>
            <span>V</span>
            <span>S</span>
            <button
                class="light-button"
                v-for="day of prevMonthDays"
                :key="day.month + '' + day.date"  
                @click="setSelectedDay(day.year, day.month, day.date)" >
                    {{ day.date }}
            </button>
            
            <button
                :class="{ 'selected-button': isSelectedDay(day.year, day.month, day.date) }"
                v-for="day of currentMonthDays"
                :key="day.month + '' + day.date"
                @click="setSelectedDay(day.year, day.month, day.date)" >
                    {{ day.date }}
            </button>
            
            <button
                class="light-button"
                v-for="day of nextMonthDays"
                :key="day.month + '' + day.date"
                @click="setSelectedDay(day.year, day.month, day.date)" >
                    {{ day.date }}
            </button>
        </div>
    </div>
</template>

<script>
import dayjs from 'dayjs'
import { mapState, mapMutations } from 'vuex'

export default {
    computed: mapState([
        'date'
    ]),
    data() {
        return {
            selectedDay:        dayjs(),
            currentMonth:       dayjs(),
            prevMonthDays:      [],
            currentMonthDays:   [],
            nextMonthDays:      [],
            label:              ''
        }
    },
    methods: {
        fillPrevMonthDays() {
            this.prevMonthDays = []

            let prevMonth = dayjs(this.currentMonth).subtract(1, 'month').endOf('month')
            let currentMonth = dayjs(this.currentMonth).startOf('month')

            let lastDayOfPrevMonth = (prevMonth.date() - currentMonth.day() + 1)
            for(let day = currentMonth.day(); day > 0; day--) {
                this.prevMonthDays.push({
                    year: prevMonth.year(),
                    month: prevMonth.month(),
                    date: lastDayOfPrevMonth
                })
                lastDayOfPrevMonth++
            }
            
            return this.prevMonthDays
        },
        fillCurrentMonthDays() {
            this.currentMonthDays = []

            let currentMonth = dayjs(this.currentMonth)
            for(let day = 1; day <= currentMonth.endOf('month').date(); day++) {
                this.currentMonthDays.push({
                    year: currentMonth.year(),
                    month: currentMonth.month(),
                    date: day
                })
            }

            return this.currentMonthDays
        },
        fillNextMonthDays() {
            this.nextMonthDays = []

            let nextMonth = dayjs(this.currentMonth).add(1, 'month').startOf('month')
            let firstDayOfNextMonth = 1
            for(let j = nextMonth.day(); j <= 6; j++) {
                this.nextMonthDays.push({
                    year: nextMonth.year(),
                    month: nextMonth.month(), 
                    date: firstDayOfNextMonth
                })
                firstDayOfNextMonth++
            }

            return this.nextMonthDays
        },
        isSelectedDay(year, month, date) {
            return this.selectedDay.year() === year
                    && this.selectedDay.month() === month
                    && this.selectedDay.date() === date
        },
        setSelectedDay(year, month, date) {
            this.currentMonth = this.currentMonth.year(year).month(month).date(date)
            this.selectedDay = this.selectedDay.year(year).month(month).date(date)
            this.fillCalendarDays()
            this.setDateFilter(this.selectedDay.format('YYYY-MM-DD'))
            
            let nextPath = this.$router.resolve({ name: this.$route.name, query: { time: this.date } }).resolved
            if (nextPath.fullPath !== this.$route.fullPath) this.$router.push({ name: this.$route.name, query: { ...this.$route.query, time: this.date } })

        }, 
        setLabel() {
            let label = this.currentMonth.format('MMMM YYYY')
            this.label = label.charAt(0).toUpperCase() + label.slice(1)
        },
        fillCalendarDays() {
            this.fillPrevMonthDays()
            this.fillCurrentMonthDays()
            this.fillNextMonthDays()
            this.setLabel()
        },
        setNextMonth(){
            this.currentMonth = this.currentMonth.add(1, 'month')
            this.fillCalendarDays()
        },
        setPrevMonth() {
            this.currentMonth = this.currentMonth.subtract(1, 'month')
            this.fillCalendarDays()
        },
        ...mapMutations([
            'setDateFilter'
        ])
    },
    created() {
        this.setDateFilter(this.selectedDay.format('YYYY-MM-DD'))
        this.selectedDay = dayjs(this.$route.query.time)
        this.fillCalendarDays()
    } 
}
</script>

<style>
</style>
