<template>
<div class="container">
    <div class="text-center my-5">
        <h4>500</h4>
        <p>Upps, parece que algo salió mal, vuelve a intentarlo mas tarde</p>
        <router-link class="btn btn-link" :to="{ name: 'home' }">Ir al inicio</router-link>
    </div>
</div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
export default {
    methods: {
        ...mapActions([
            'hideSearchBar'
        ]),
        ...mapMutations([
            'setTitle'
        ])
    },
    created() {
        this.setTitle('Error')
        this.hideSearchBar()
    }
}
</script>

<style lang="css" scoped>
</style>
