<template>
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="main-street">Calle principal</label>
                <input id="main-street" name="main-street" type="text" :class="['form-control', { 'is-invalid': errors.mainStreet }]" v-model="form.mainStreet" @keyup="emitForm" @focus="errors.mainStreet = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.mainStreet">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="secondary-street">Calle secundaria</label>
                <input id="secondary-street" name="secondary-street" type="text" :class="['form-control', { 'is-invalid': errors.secondaryStreet }]" v-model="form.secondaryStreet" @keyup="emitForm" @focus="errors.secondaryStreet = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.secondaryStreet">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="province">Provincia</label>
                <select id="province" name="province" :class="['form-control', { 'is-invalid': errors.province }]" v-model="form.province" @change="emitForm" @focus="errors.province = null" required >
                    <option default value="">Seleccione</option>
                    <option v-for="province in provinces" :key="province" :value="province.toUpperCase()">{{ province }}</option>
                </select>
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.province">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="city">Ciudad</label>
                <select id="city" name="city" :class="['form-control', { 'is-invalid': errors.city }]" v-model="form.city" @change="emitForm" @focus="errors.city = null" required >
                    <option default value="">Seleccione</option>
                    <option v-for="city in cities" :key="city" :value="city.toUpperCase()">{{ city }}</option>
                </select>
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.city">{{ error }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import Province from '../../models/Province'

export default {
    props: [ 'value' ],
    computed: {
        provinces() {
            return Province.getProvincesName();
        },
        cities() {
            return this.form.province !== '' ? Province.getCitiesNameFromProvince(this.form.province) : []
        }
    },
    data() {
        return {
            form: {
                mainStreet          : '',
                secondaryStreet     : '',
                province            : '',
                city                : '',
            },
            errors: {}
        }
    },
    methods: {
        emitForm() {
            if (!this.cities.find(city => city.toUpperCase() === this.form.city)) this.form.city = ''
            this.$emit('input', this.form)
            this.$emit('change')
        }
    },
    watch: {
        value: {
            handler(val) {
                this.form.mainStreet = val.mainStreet
                this.form.secondaryStreet = val.secondaryStreet
                this.form.province = val.province
                this.form.city = val.city
            },
            deep: true
        },
        errors: {
            handler(errors) {
                this.errors.mainStreet = errors.mainStreet
                this.errors.secondaryStreet = errors.secondaryStreet
                this.errors.province = errors.province
                this.error.city = errors.city
            },
            deep: true 
        }
    }
}
</script>

<style>

</style>
