<template>
<div>
    <b-alert
        :show="dismissCountDown"
        class="position-fixed fixed-bottom m-0 rounded-0"
        style="z-index: 2000;"
        :variant="alertVariant"
        dismissible
        @dismissed="dismissed"
        @dismiss-count-down="changeCountDown"
    >
        <p class="mb-0">{{ `${alertMessage} - ${dismissCountDown} s` }}</p>
    </b-alert>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    props: [ 'dismissSecs' ],
    computed: mapState([
        'isShowingAlert',
        'alertMessage',
        'alertVariant'
    ]),
    data() {
        return {
            dismissCountDown: 0
        }
    },
    methods: {
        changeCountDown(dismissCountDown) {
            this.dismissCountDown = dismissCountDown
        },
        dismissed() {
            this.dismissCountDown = 0
            this.hideAlert()
        },
        ...mapActions([
            'hideAlert',
        ])
    },
    watch: {
        isShowingAlert(value) {
            if (value) this.dismissCountDown = this.dismissSecs
        }
    }
}
</script>

<style lang="css" scoped>
</style>
